<?xml version="1.0"?>
<launch>

  <node name="NODE_model_vel_jit"
        pkg="franka_interactive_controllers"
        type="NODE_model_vel_jit.py" respawn="false" output="screen"/>

  <!-- <node name="NODE_model_vel_SO3"
        pkg="franka_interactive_controllers"
        type="NODE_model_vel_SO3.py" respawn="false" output="screen"/> -->

  <node name="my_visuals"
        pkg="franka_interactive_controllers"
        type="my_visuals.py" respawn="false" output="screen"/>

</launch>
